<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <table style="margin-left: auto; margin-right: auto;" width="400" cellpadding="0" cellspacing="0" border="0" class="wrapper" bgcolor="#FFFFFF">
        <tr>
            <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
        </tr>
        <tr>
            <td align="center" valign="top">

                <table width="500" cellpadding="0" cellspacing="0" border="0" class="container">
                    <tr>
                        <td align="center" valign="top" style="border: 1px solid #c2bebe;">
                            <img class="img-fluid" src="https://img.freepik.com/vecteurs-premium/petit-garcon-collecte-oeufs-blanc-fond_1639-15686.jpg?w=740" alt="logo.png">
                        </td>
                    </tr>
                    <tr style="background-color: #f8f8f8;">
                        <td align="center" valign="top" style="border: 1px solid #c2bebe;">
                            <h3> Cher @ViewBag.title,</h3>


                            <p>
                                @ViewBag.body
                            </p>

                            <p style="font-size: 17px;">
                                <span style="font-weight: 500;">NUTRIKA</span><br />
                                Adresse: nutrikacontact.xyz <br />
                                Courriel: nutrikacontact.ca <br />
                                Tel Sans Frais : +1(544) 455 222
                            </p>
                            @ViewBag.mailFooter
                            <p style="font-size: 12px;">Copyright NIOVAR SOLUTIONS 2024</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>